---
---

@import "{{ site.theme }}";

#forkme_banner{ display: none !important; }

footer {
  display: none !important;
}

.btn {
  display: none !important;
}

}
 sub {
 	font-size: smaller;
 	vertical-align: sub;
 }
 sup {
 	font-size: smaller;
 	vertical-align: super;
 }
